AddDefaultCharset cp1251
<IfModule mod_rewrite.c>
 
    RewriteEngine On
 
    RewriteBase /
 
    RewriteRule ^modules.* /index.php [L,QSA] 
 
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (.*) /index.php/$1 [L,QSA] 
 
</IfModule>
