<!DOCTYPE html>
<html>
    <head>
        <title><content type="page" name="title"/></title>
		<link rel="stylesheet" href="%tmpl_root%/main.css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<style>
		body {
                    margin: 70px;
                    background-image: url(%tmpl_root%/bg.png); /* Путь к фоновому изображению */
                    background-attachment: fixed; /* Фиксируем фон веб-страницы */
		}
		</style>
    </head>
    <body>
	
	<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">GamePlix</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Главная <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Форум</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="row">
  <div class="col-md-8">
  <div class="panel panel-default">
  <!--<div class="panel-heading">Тест новостей</div>
  <div class="panel-body">
    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
  </div>
  <div class="panel-footer">
  <div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-default disabled">Автор: DevilEz</a>
  <a href="#" class="btn btn-default disabled">Дата: 28.12.2014</a>
  <a href="#" class="btn btn-default disabled">Просмотров: 67</a>
  <a href="#" class="btn btn-default">Читать новость</a>
</div>
  </div>
</div><div class="panel panel-default">
  <div class="panel-heading">Тест новостей</div>
  <div class="panel-body">
    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
  </div>
  <div class="panel-footer">
  <div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-default disabled">Автор: DevilEz</a>
  <a href="#" class="btn btn-default disabled">Дата: 28.12.2014</a>
  <a href="#" class="btn btn-default disabled">Просмотров: 67</a>
  <a href="#" class="btn btn-default">Читать новость</a>
</div>
  </div>
</div><div class="panel panel-default">
  <div class="panel-heading">Тест новостей</div>
  <div class="panel-body">
    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
  </div>
  <div class="panel-footer">
  <div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-default disabled">Автор: DevilEz</a>
  <a href="#" class="btn btn-default disabled">Дата: 28.12.2014</a>
  <a href="#" class="btn btn-default disabled">Просмотров: 67</a>
  <a href="#" class="btn btn-default">Читать новость</a>
</div>
  </div>
</div><div class="panel panel-default">-->
  <div class="panel-body">
    <content/>
  </div>
</div>
</div>
  <div class="col-md-4">
  <a href="#" class="btn btn-success btn-lg btn-block">Как начать играть ?</a>
  <br>
  <div class="panel panel-default">
  <div class="panel-heading">Авторизация</div>
  <div class="panel-body">
      <content type="auth" name="auth_block"/>
  <!--  <div class="form-group">
  <div class="input-group">
    <span class="input-group-addon">Логин</span>
    <input class="form-control" type="text">
    <span class="input-group-btn">
     <button class="btn btn-default" type="button">Регистрация</button>
    </span>
  </div>
</div>
<div class="form-group">
  <div class="input-group">
    <span class="input-group-addon">Пароль</span>
    <input class="form-control" type="text">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Забыли ?</button>
    </span>
  </div>
  <br>
  <a href="#" class="btn btn-success btn-block">Войти</a>
</div>-->
  </div>
</div></div>
</div>
<div class="well well-sm">
  Used: Core MSC Engine with Design by Ilya Yatsenko.
</div>
    </body>
</html>